body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #1e3c72, #2a5298, #4facfe, #00f2fe);
    background-size: 400% 400%;
    animation: gradientBG 8s ease infinite;
}

@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.card {
    background: white;
    width: 90%;
    max-width: 400px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.timer {
    text-align: center;
    color: red;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    background: #2a5298;
    color: white;
    font-size: 16px;
    border-radius: 8px;
}

button:disabled {
    background: gray;
}

#restartBtn {
    background: #ff4c4c;
}

.code {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: green;
    text-align: center;
}